.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom : 500px;
  }

  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding : 1000px;
    margin: 500px;
  }